<h1>Chore Rotation Schedule</h1>

<div class="row mb-4">
    <div class="col-md-6">
        <h3>Family Members</h3>
        <ul class="list-group">
            {{#each members}}
                <li class="list-group-item">
                    <span class="member-color" style="background-color: {{this.color}}"></span>
                    {{this.name}}
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Chores</h3>
        <ul class="list-group">
            {{#each chores}}
                <li class="list-group-item">{{this.name}} ({{this.frequency}}x/week)</li>
            {{/each}}
        </ul>
    </div>
</div>

{{#each weeks}}
<div class="card mb-4">
    <div class="card-header">
        <h4>Week {{this.number}} (Starting {{this.startDate}})</h4>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-bordered mb-0">
                <thead class="table-light">
                    <tr>
                        {{#each this.days}}
                            <th class="text-center">{{this.shortDate}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#each this.days}}
                            <td style="min-width: 150px; height: 120px; vertical-align: top;">
                                <small class="text-muted d-block">{{this.date}}</small>
                                <ul class="list-unstyled mt-2">
                                    {{#each this.assignments}}
                                        <li class="mb-1">
                                            <span class="badge" style="background-color: {{this.color}}">
                                                {{this.member}}
                                            </span>
                                            <div class="small">{{this.chore}}</div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </td>
                        {{/each}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/each}}

<style>
    .member-color {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 8px;
    }
    .table-bordered th, .table-bordered td {
        border: 1px solid #dee2e6;
    }
</style>{{!--<h1>Chore Rotation Schedule</h1>

<div class="row mb-4">
    <div class="col-md-6">
        <h3>Family Members</h3>
        <ul class="list-group">
            {{#each members}}
                <li class="list-group-item">
                    <span class="member-color" style="background-color: {{this.color}}"></span>
                    {{this.name}}
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Chores</h3>
        <ul class="list-group">
            {{#each chores}}
                <li class="list-group-item">{{this.name}} ({{this.frequency}}x/week)</li>
            {{/each}}
        </ul>
    </div>
</div>

<h3>Schedule</h3>
{{#each weeks}}
    <div class="card mb-3">
        <div class="card-header">
            <h5>Week {{this.number}} ({{this.startDate}} - {{this.endDate}})</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Chore</th>
                        <th>Assigned To</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.assignments}}
                        <tr>
                            <td>{{this.chore}}</td>
                            <td>
                                <span class="member-color" style="background-color: {{this.color}}"></span>
                                {{this.member}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{/each}}--}}